<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .field-validation-error{color: #f00;}
        .validation-summary-errors{color: #ff0000; font-weight: bold;}
        .input-validation-error{border: 2px solid #00ffff; background-color: #0094ff;}
        input[type="checkbox"].input-validation-error{outline: 2px solid #b200ff;}
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
