@model ModelValidation.Models.Appointment
@{
    ViewBag.Title = "MakeBooking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Book an Appointment</h4>

@using (Html.BeginForm()) { //html-helpers generate error-html, if recived model is invalid
    <p>Your name: @Html.EditorFor(m=>m.ClientName)</p> 
    <p>Appointment Date: @Html.EditorFor(m=>m.Date)</p>
    <p>@Html.EditorFor(m=>m.TermsAccept) I accept the terms & conditions</p> 
    <input type="submit" value="Make Booking" />
}

